@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>ASP.NET MVC Core</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <h1>Telegtam ASP.NET Core Bot Example</h1>
</body>
</html>